.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-width: 150px;
    border: 1px solid lightgrey;
}

.product-container img {
    max-width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.title {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}
